# Nobody puts Infohub in a frame
# Header always append X-Frame-Options SAMEORIGIN

# php_flag opcache.enable Off

<IfModule mod_rewrite.c>
    RewriteEngine on
    # DirectoryIndex index.php
    RewriteRule define_folders.php - [R=404,L,NC]

    # You can turn off features here
    RewriteRule test.php - [R=404,L,NC]
    RewriteRule testmenu.php - [R=404,L,NC]
    RewriteRule phpinfo.php - [R=404,L,NC]
    RewriteRule callback.php - [R=404,L,NC]

    ## Every existing file, folder and link should be accessible
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l

    ### every other url go to callback.php
    # RewriteRule  ^(.*)$ callback.php?param=$1 [QSA,L]

    # All traffic to https. https://www.freecodecamp.org/news/how-to-redirect-http-to-https-using-htaccess/
    # RewriteCond %{SERVER_PORT} 80
    # RewriteRule ^(.*)$ https://www.yourdomain.com/$1 [R,L]

    # Removing the Query String
    # RewriteRule ^/url /url?

    # Password. https://www.askapache.com/htaccess/#developing_sites
    # AuthName "Infohub password barrier"
    # AuthUserFile /web/sitename.com/.htpasswd
    # AuthType basic
    # Require valid-user
    # Order deny,allow
    # Deny from all
    # Allow from 208.113.134.190 w3.org htmlhelp.com googlebot.com
    # Satisfy Any

</IfModule>

# How can I remove this file?
# https://www.nginx.com/resources/wiki/start/topics/examples/likeapache-htaccess/
