.DS_Store
.idea
/folder/config/*
/folder/config_server/*
/folder/db/*
/folder/doc/old/*
/folder/file/*
/nbproject/private/
/nbproject/*
/html/
/log/
*test-php.json
/phpdoc/
/vendor/
/rox/
folder/plugins/charzam/
folder/plugins/teamfakta/
folder/plugins/infohub/*.zip
/.phpdoc/
/.vscode/
/public_html/phpdoc
