# Nobody puts Infohub in a frame
# Header always append X-Frame-Options SAMEORIGIN

# php_flag opcache.enable Off

RewriteEngine on
# DirectoryIndex index.php
RewriteRule define_folders.php - [R=404,L,NC]

# You can turn off features here
# RewriteRule test.php - [R=404,L,NC]
# RewriteRule testmenu.php - [R=404,L,NC]
# RewriteRule phpinfo.php - [R=404,L,NC]
# RewriteRule callback.php - [R=404,L,NC]

## Every existing file, folder and link should be accessible
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

### every other url go to callback.php
RewriteRule  ^(.*)$ callback.php?param=$1 [QSA,L]

# How can I remove this file?
# https://www.nginx.com/resources/wiki/start/topics/examples/likeapache-htaccess/
